* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
  grid-template-rows: 10vh 88vh 0.7fr 1fr 0.7fr 0.7fr 1fr 0.7fr 1fr 0.2fr;
}

.header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
}

.square1 {
  grid-column: 2/3;
  background-color: rgb(141, 100, 100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

img {
  align-self: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

li {
  display: block;
}

.lawyer-pic {
  grid-column: 1/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background: url(hero.jpg) no-repeat center center;
  background-size: cover;
}

.square2 {
  grid-column: 2/3;
}

.about-us {
  grid-column: 1/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: rgb(17, 0, 255);
}

.square3 {
  grid-column: 2/3;
  background-color: black;
}

.practice-area {
  grid-column: 1/4;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: rgb(94, 39, 26);
}

.square4 {
  grid-column: 2/3;
}

.meet {
  grid-column: 1/4;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: rgba(9, 24, 24, 0.938);
}

.square5 {
  grid-column: 2/3;
}

.our-clients {
  grid-column: 1/4;
  grid-row: 6/7;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: rgb(104, 131, 32);
}

.square6 {
  grid-column: 2/3;
}

.recent {
  grid-column: 1/4;
  grid-row: 7/8;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: rgb(179, 26, 145);
}

.square7 {
  grid-column: 2/3;
}

.faq {
  grid-column: 1/4;
  grid-row: 8/9;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: aqua;
}

.square8 {
  grid-column: 2/3;
}

.contact {
  grid-column: 1/4;
  grid-row: 9/10;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: rgb(0, 0, 0);
}

.square9 {
  grid-column: 2/3;
}

.footer {
  grid-column: 1/4;
  grid-row: 10/11;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: aqua;
}

.square10 {
  grid-column: 2/3;
}
